<div class="row" style="margin-top: 5%">
  <div class="col s12 m1"></div>
  <div class="col s12 m10">

    <div class="col s12">
      <div class="carousel carousel-slider">
        <a class="carousel-item" [routerLink]="['/ver']">
          <img src="assets/img/Gimnasia.jpg">
        </a>
        <a class="carousel-item" [routerLink]="['/ver']">
          <img src="assets/img/Champ.jpg">
        </a>
        <a class="carousel-item" [routerLink]="['/ver']">
          <img src="assets/img/Dh.jpg">
        </a>
        <a class="carousel-item" [routerLink]="['/ver']">
          <img src="assets/img/Judo.jpg">
        </a>
      </div>

    </div>
    <div class="row">
      <!--Card -->
      <div class="col s12 m6">
        <div class="col s12 m12">
          <div class="card grey lighten-3 hoverable">
            <div class="card-content grey-text darken-4">
              <span class="card-title">Interfacultades</span>
              <div id="contenedor">
                <div id="Imagen">
                  <img src="assets/img/Bandera-09.png" class="pequeña">
                </div>
                <div id="Deporte">
                  <h6>&emsp;Judo</h6>
                </div>
                <div id="Equipos">
                  <h6>&emsp;Ingeniería Vs Educación</h6>
                </div>
                <div id=Puntaje>
                  <h6>&emsp;Marcador: 1-0&emsp;</h6>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a href="#" class="light-green-text text-darken-1">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <!--Fin Card -->
      <!--Card -->
      <div class="col s12 m6">
        <div class="col s12 m12">
          <div class="card grey lighten-3 hoverable">
            <div class="card-content grey-text darken-4">
              <span class="card-title">Interfacultades</span>
              <div id="contenedor">
                <div id="Imagen">
                  <img src="assets/img/Bandera-08.png" class="pequeña">
                </div>
                <div id="Deporte">
                  <h6>&emsp;Futbol</h6>
                </div>
                <div id="Equipos">
                  <h6>&emsp;Ingeniería Vs Educación</h6>
                </div>
                <div id=Puntaje>
                  <h6>&emsp;Marcador: 5-0&emsp;</h6>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a href="#" class="light-green-text text-darken-1">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <!--Fin Card -->
    </div>
    <div class="row">
      <!--Card -->
      <div class="col s12 m6">
        <div class="col s12 m12">
          <div class="card grey lighten-3 hoverable">
            <div class="card-content grey-text darken-4">
              <span class="card-title">Interfacultades</span>
              <div id="contenedor">
                <div id="Imagen">
                  <img src="assets/img/Bandera-09.png" class="pequeña">
                </div>
                <div id="Deporte">
                  <h6>&emsp;Judo</h6>
                </div>
                <div id="Equipos">
                  <h6>&emsp;Ingeniería Vs Educación</h6>
                </div>
                <div id=Puntaje>
                  <h6>&emsp;Marcador: 1-0&emsp;</h6>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a href="#" class="light-green-text text-darken-1">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <!--Fin Card -->
      <!--Card -->
      <div class="col s12 m6">
        <div class="col s12 m12">
          <div class="card grey lighten-3 hoverable">
            <div class="card-content grey-text darken-4">
              <span class="card-title">Interfacultades</span>
              <div id="contenedor">
                <div id="Imagen">
                  <img src="assets/img/Bandera-08.png" class="pequeña">
                </div>
                <div id="Deporte">
                  <h6>&emsp;Futbol</h6>
                </div>
                <div id="Equipos">
                  <h6>&emsp;Ingeniería Vs Educación</h6>
                </div>
                <div id=Puntaje>
                  <h6>&emsp;Marcador: 5-0&emsp;</h6>
                </div>
              </div>
            </div>
            <div class="card-action">
              <a href="#" class="light-green-text text-darken-1">Ver más</a>
            </div>
          </div>
        </div>
      </div>
      <!--Fin Card -->
    </div>
  </div>
</div>