<div class="row">
  <h3 class="grey-text text-darken-2">Puedes Crear</h3>
  <br>
  <h5 class="grey-text ">UScores posee dos categorías, para ayudarte a organizar tus eventos deportivos de forma fácil.</h5>
  <br>
  <br>
  <div class="row">
    <div class="col s12 m6">
      <h4 class="grey-text">Torneos</h4>
      <blockquote>
        Especifica el nombre y el deporte al cual pertenece, además contienen los partidos. Esto se debe cambiar.
      </blockquote>
    </div>
    <div class="col s12 m6">
      <h4 class="grey-text">Eventos</h4>
      <blockquote>
        Especifica el nombre y el deporte al cual pertenece, además contienen los partidos. Esto se debe cambiar.
      </blockquote>
    </div>
  </div>
  <div class="row">
    <div class="col s12" id="centrado">
        <br>
        <br>
        <a class="waves-effect waves-green btn modal-trigger" (click)="validar()">COMIENZA CREANDO UN TORNEO</a>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>